{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    {% block extra_css %}{% endblock %}
{% endblock %}

{% block content %}
<div class="search">
    <input type="text" id="search-input" placeholder="Buscar posts..." />
</div>

<div class="blog_wrapper" id="results">
    {% for post in posts %}
    <div class="post_card">
        <a href="{% url 'blog:post_detalle' slug=post.slug %}">
            <img src="{{ post.portada.url }}" alt="{{ post.titulo }}" class="post_img">
        </a>
        <div class="post_content">
            <a href="{% url 'blog:post_detalle' slug=post.slug %}" class="post_title">{{ post.titulo }}</a>
            <p class="post_description">{{ post.contenido_preview }}</p>
            <small class="post_date">{{ post.fecha|date:"d \d\e F \d\e Y \a \l\a\s H:i" }}</small>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/blog.js' %}"></script>
{% endblock %}
