{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/postulacion_i.css' %}">
{% endblock %}

{% block content %}
<body style="background-image: url(&quot;{% static 'img/fondodesafio2.png' %}&quot;); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed;"></body>

    <div class="content">
        <div class="formulario">
            {% block formulario %}
            {% endblock %}
        </div>
        <div class="texto-postulacion">

            <h2 class="titulo-desafio">Postulación de desafio</h2>
            <p class="frase-impacto grande">Estas a un paso de un gran cambio!</p>
            <p class="descripcion-impacto">Esta postulacion es el inicio del camino para que podamos administrar tu solucion de la mejor manera</p>

            <!-- Stepper horizontal -->
            <div class="stepper-horizontal">
                {# Changed from 4 steps to 3 steps #}
                <div class="step-h {% if paso_actual == 1 %}active-h{% endif %}">1</div>
                <div class="line-h"></div>
                <div class="step-h {% if paso_actual == 2 %}active-h{% endif %}">2</div>
                <div class="line-h"></div>
                <div class="step-h {% if paso_actual == 3 %}active-h{% endif %}">3</div>
                {# Removed the 4th step div and the last line div #}
            </div>
        </div>
    </div>
{% endblock %}